$fontSize: 14px;
* {
  font-family: "Inter";
}

.overlay {
  position: fixed;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(28, 23, 30, 0.8);
  z-index: 999;
  cursor: pointer;
}
.modalWrapper {
  display: none;
  position: absolute;
  margin: 5% 40%;
  width: 430px;
  max-height: 400px;
  background: #ffffff;
  text-align: center;
  border-radius: 3px;
}
.close {
  position: absolute;
  right: 0;

}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 20px;
  width: 2px;
  background-color: rgb(148, 147, 147);
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.modalBox {
  padding: 30px;

  h1{
    font-size: 24px;
  }
}
.modalForm {
  font-size: $fontSize;
  display: flex;
  flex-direction: column;
  width: 100%;

  .eventData{
    font-size: 24px;
    text-align: justify;
    max-width: 230px;

  }

  .formBtn {
    font-size: $fontSize;
    color: #ffffff;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 20px 0 20px 0px;
    border-radius: 3px;
    background: #1f0803;
    border: none;

    img {
      margin-left: 3%;
    }
  }
}

